rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /soste/{sostaId} {
      allow read, write: if true;
    }
    match /places/{placeId} {
      allow read, write: if true;
    }
    match /community_messages/{msgId} {
      allow read, write: if true;
    }
    match /users/{email}/{document=**} {
      allow read, write: if true;
    }
    match /adminNotifications/{notifId} {
      allow read, write: if true;
    }
    match /promoPush/{promoId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
